body {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 0.3fr 1fr 0.1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  display: grid;
  justify-self: center;
  align-self: end;
  grid-column: 2;
  grid-row: 1;
}

.container {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: flex-start;
  grid-column: 2;
  grid-row: 2;
}

.box {
  border: 1px solid black;
}

.turn-indicator {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  grid-row: 2;
  align-self: center;
  border-radius: 1em;
}

.big-x {
  background-color: pink;
}

.big-o {
  background-color: blue;
}

.show-active {
  box-shadow: 0em 0.2em 0.3em 0.2em gray;
}

button {
  display: grid;
  align-self: start;
  justify-self: center;
  grid-column: 2;
  grid-row: 3;
}
